# API keys and secrets
.env

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
/dist
/bin

# ignore package-lock.json
package-lock.json

# Ignore log files
/logs